body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.p{
    font-size: 2em;  
    font-family: 'Fjalla One';
} 

h4{
    font-size: 1rem;
    font-weight: bold;
    
}

.content{
    margin: 0 auto center;
    border: 0.01em solid gray;
    width: 50%;
    padding: 2em;
}


#userSubmit{
    border: 0.1em solid gray;
    width: 60%;
    margin-top: 4em;
    margin-bottom: 3em;
    padding: 2em;
    text-align: center;
    border-radius: 1em;
}

.thingToDo{
    border: .01em solid gray;
    margin-top: 100px;
    text-align: center;
    border-radius: 1em;
}

.translate{
    border: 1px solid gray;
    text-align: center;
    border-radius: 1em;
}

.vlogs{
    border: .01em solid gray;
    text-align: center;
    border-radius: 1em;
}


h4{
    font-family: 'Fjalla One';
    font-size: 2rem;
 }



.page-footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
}

