body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.p{
    font-size: 2em;  
    font-family: 'Fjalla One';
} 

h4{
    font-size: 2em;
    font-weight: bold;
    font-family: 'Fjalla One';
}

.response {
    margin-top: 1em;
    font-family: 'Fjalla One';
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

#userSubmit{
    font-size: 1em;
    border: 0.1em solid gray;
    width: 60%;
    margin-top: 4em;
    margin-bottom: 3em;
    padding: 2em;
    text-align: center;
    border-radius: 1em;
}

.translate{
    border: .1em solid gray;
    text-align: center;
    border-radius: 1em;
    margin-bottom: 2em;
    margin-left: 5em;
}

.vlogs{
    font-family:'Fjalla One';
    border: .1em solid gray;
    text-align: center;
    border-radius: 1em;
    margin-bottom: 1em;
    margin-left: 5em;
    padding: 1em;
}

.page-footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
}

