.p{
    font-size: 30px;
} 

.content {
margin-left: 300px;
margin-top: 100px; 
}


.thingToDo{
    border: 1px solid gray;
    margin-top: 100px;
    text-align: center;
}

.translate{
    border: 1px solid gray;
    text-align: center;
}

.vlogs{
    border: 1px solid gray;
    text-align: center;
}

h4{
   font-family: 'Fjalla One';
}




