body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.p{
    font-size: 1em;
} 

.content {
margin-left: 300px;
margin-top: 100px; 
}


.thingToDo{
    border: .01em solid gray;
    margin-top: 100px;
    text-align: center;
    border-radius: 1em;
}

<<<<<<< HEAD
.bands{
    border: .01em solid gray;
=======
.translate{
    border: 1px solid gray;
>>>>>>> 1fc3d6c93361c6623d43a58aaae206317e03d102
    text-align: center;
    border-radius: 1em;
}

.vlogs{
    border: .01em solid gray;
    text-align: center;
    border-radius: 1em;
}

h4{
   font-family: 'Fjalla One';
   font-size: 2rem;
}

.page-footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
}

